.flex-container {
    display: flex;
    flex-direction: column; 
}

.subtext-top{
    font-size: 8pt;
    color: white;
}

.subtext-mid {
    font-size: 8pt;
}

.main-header {
    font-size: 30pt;
    color: white;
}

#first-block {
    background-color: #1f2937;
}

.header-text {
    font-size: 10pt;
    color: white;
}

#second-block {
    background-color: #1f2937;
}

#sign-up {
    color: white;
    background-color: #3882f6;
}

.quote {
    background-color: #e5e7eb;
}

#third-block {
    display: flex;
    align-items: center;
    justify-content: center;
}