.flex-container {
    display: flex;
    flex-direction: column; 
}

#first-block {
    background-color: #1f2937;
}

.header-text {
    font-size: 10pt;
    color: white;
}

#second-block {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header {
    font-size: 40px;
    color: white;
}

.subtext-top{
    font-size: 8px;
    color: white;
}

#sign-up {
    color: white;
    background-color: #3882f6;
    font-size: 12px;
}

#placeholder {
    background-color: #c3cadb5f;
    color: white;
    font-size: 10px;
}

.sub-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-mid {
    font-size: 8pt;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #3882f6;
}
.quote {
    background-color: #e5e7eb;
}
