* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column; 
}

#first-block {
    background-color: #1f2937;
}

.header-text {
    font-size: 10pt;
    color: white;
}

#second-block {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.main-header {
    font-size: 40px;
    color: white;
    margin: 0;
}

.subtext-top{
    font-size: 8px;
    color: white;
}

#sign-up {
    color: white;
    background-color: #3882f6;
    font-size: 12px;
}

#placeholder {
    background-color: #c3cadb5f;
    color: white;
    font-size: 10px;
}

.sub-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-mid {
    font-size: 8pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtext-mid {
    width: 80px;
    height: 40px;
    margin: 13px;
    flex: 1 1 auto;
}

#smaller-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#smaller-img div {
    background: white;
    border: 3px solid #3882f6;
    margin: 10px;
    height: 80px;
    width: 40px;
    flex: 1 1 auto;
}

.smaller-img {
    display: flex;
    align-items: center;
    justify-content: center;

}

.quote {
    background-color: #e5e7eb;
}
